.Button {
  background-color: red;
  color: wheat;
  display: inline-block;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.Button:hover {
  background-color: tomato;
}

.Button:active {
  background: yellow;
}